<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!--Steam WebAPI Key-->
    <add key="steam_key" value="1BAA5AF9CD8CED69A384AA1606E6C228" />
  </appSettings>
</configuration>